/* Main Page */
.main_page {
  width:80%;
  margin:3em auto;
}

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
  line-height: 2em;
}

.video-item img {
  max-width: 64px;
}

.video-detail {
  border: 1px solid gainsboro;
  padding: 1em;
  margin-bottom: 4em;
}

.video-detail .details {
  margin-top: 10px;
  padding: 2em;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.details button {
  margin-top: 1em;
}

.details .favorites-list-link {
  margin-left: 5px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}


/* Favorite Videos page */
.home_link {
  vertical-align: -webkit-baseline-middle;
  display: inline-block;
  background-color: #d3c682;
  color: #FFFFFF;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: 20px;
  opacity: 0.9;
  border-radius: 3px;
}

.navbar {
  text-align: center;
}

.header-navbar {
  padding: 2em;
  border-bottom: 1px solid gainsboro;
}

.videos_feed {
  width: 80%;
  margin: 1em auto;
}

.video_single_feed {
  padding: 2em;
  height: 600px;
  border: 1px solid gainsboro;
  margin-bottom: 1px;
}

.video_image_thumbnail {
  padding: 1em;
}

.video_image_thumbnail img {
  width:100%;
  margin-bottom: 1em;
}

/* Modal Video player */

.video-modal .modal-content {
  text-align: center;
}

.iframe-video-feed {
  width: 850px;
  height: 750px;
}

.modal-buttons {
  text-align: center;
}

.modal-buttons button {
  margin: 0em 3px;
}

/* media queries */
/* tablet to desktop */
@media only screen and (min-width: 1025px) {
    .videos_feed {
      width: 95%;
    }

    .video_image_thumbnail h3 {
      font-size: 16px;
    }

    .caption p {
      font-size: 13px;
    }

    .video_single_feed {
      height:470px;
    }

    .video_single_feed .btn {
      font-size: 12px;
      padding: 3px;
      line-height: 1.5;
    }

    .home_link {
      padding: 7px 15px;
      font-size: 13px;
    }

    .iframe-video-feed {
      /*width: 100%;
      height: 431px;*/

      width: 646px;
      height: 476px;
      display: block;
    }

    .video-modal .modal-content {
      width: 676px;
    }
  }

/* mobile */
@media only screen and (max-width : 1025px) {
  .video-detail {
    font-size: 14px;
  }

  .media-heading {
    font-size: 14px;
  }

  .video_single_feed {
    width: 100%;
    height: 100%;
  }

  .single_video_title {
    font-size: 13px;
  }

  .single_video_description {
    font-size: 16px;
  }

  /* modal */
  .media-heading {
    font-size:16px;
  }

  .modal-para {
    font-size: 14px;
  }

  .iframe-video-feed {
    width: 100%;
    height: 431px;
    display: block;
  }
}


@media only screen and (max-width : 355px) {
  .video-detail {
    font-size: 14px;
  }

  .media-heading {
    font-size: 14px;
  }

  .video_single_feed {
    width: 100%;
    height: 540px;
  }

  .single_video_title {
      font-size: 13px;
  }

  .single_video_description {
    font-size: 16px;
  }

  .main_page {
    font-size: 13px;
  }

  .details .favorites-list-link {
     margin-left: 0px;
  }

  .media-heading {
    font-size:16px;
  }

  div.media-heading {
    font-size: 13px;
  }

  .modal-para {
    font-size: 14px;
  }

  .embed-responsive {
    height: 300px;
  }

  .video-detail {
    padding: 0px;
  }

  .main_video {
    width: 312px;
    height: 431px;
    display: block;
    width: 300px;
    height: 300px;
  }
}
