/* Main Page */
.main_page {
  width:80%;
  margin:3em auto;
}

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
  line-height: 2em;
}

.video-item img {
  max-width: 64px;
}

.video-detail {
  border: 1px solid gainsboro;
  padding: 1em;
  margin-bottom: 4em;
}

.video-detail .details {
  margin-top: 10px;
  padding: 2em;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.details button {
  margin-top: 1em;
}

.details .favorites-list-link {
  margin-left: 5px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}


/* Favorite Videos page */
.home_link {
  vertical-align: -webkit-baseline-middle;
  display: inline-block;
  background-color: #d3c682;
  color: #FFFFFF;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: 20px;
  opacity: 0.9;
  border-radius: 3px;
}

.navbar {
  text-align: center;
}

.header-navbar {
  padding: 2em;
  border-bottom: 1px solid gainsboro;
}

.videos_feed {
  width: 80%;
  margin: 1em auto;
}

.video_single_feed {
  padding: 2em;
  height: 600px;
  border: 1px solid gainsboro;
  margin-bottom: 1px;
}

.video_image_thumbnail {
  padding: 1em;
}

.video_image_thumbnail img {
  width:100%;
}

/* Modal Video player */

.video-modal .modal-content {
  text-align: center;
}

.iframe-video-feed {
  width: 850px;
  height: 750px;
}

.modal-buttons {
  text-align: center;
}

.modal-buttons button {
  margin: 0em 3px;
}
